a{
 background-color: rgba(41, 218, 18, 0.534);

 
}
body{
background-color: rgba(53, 141, 2, 0.603);

}
form{
margin-top: 10%;
background-color: rgb(202, 202, 202);
padding: 100px 100px 50px 50px;
border-radius: 100px;
}
h1{
    color: rgb(26, 23, 23);
    justify-content: center;
}
.botaoquemostra {
        position: absolute;
        right: 230px;
        top: 68%;
        transform: translateY(-50%);
        cursor: pointer;
        background: none;
        border: 3px;
        font-size: 16px;
    }
