.btn_btn-success {
  position: relative;
  top: 10px;
  right: 10px;
  z-index: 999;
  background-color: rgba(31, 90, 31, 0.753);
  padding: 5px;
  border-radius: 0;
}
body {
  background-color: rgba(4, 158, 81, 0.781);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(4, 158, 81, 0.589)),
    url("https://images.pexels.com/photos/20506351/pexels-photo-20506351.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3333339f;
    padding: 1rem 2rem;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px; 
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}